<div class="footer section-space30">
    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="widget-text mt20">
                    <!-- widget text -->
                    <div class="footer-logo">
                        <!-- Footer Logo -->
                        <img src="images/sublime-attestation-logo.png" alt="Sublime Apostille Attestation and Visa Services">
                    </div>
                    <!-- <p>Our goal at Borrow Loan Company is to provide access to personal loans and education loan, car loan, home loan at insight competitive interest rates lorem ipsums. We are the loan provider, you can use our loan product.</p>-->
                    <div class="row">
                        <div class="col-md-12 pdb10">
                            <p class="address-text"><span><i class="icon-placeholder-3 icon-1x"></i> </span> D-1/107 Mansa Ram Park Opp. Metro Pillar No-761 Uttam Nagar, New Delhi - 110059 </p>
                        </div>
                        <div class="col-md-12">
                            <p class="call-text"><span><i class="icon-phone-call icon-1x"></i></span><a href="tel:8860448902" class="txtcolor">+91 88604 48902</a></p>
                        </div>
                        <div class="col-md-12">
                            <p class="call-text"><span><i class="icon-letter icon-1x"></i></span><a href="mailto:info@sublimeattestation.com" class="txtcolor">contact@sublimeattestation.com</a></p>
                        </div>
                    </div>
                </div>
                <!-- /.widget text -->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="widget-footer mt40">
                    <h3 class="newsletter-title">Quick Links</h3>
                    <!-- widget footer -->
                    <ul class="listnone">
                        <li><a href="/visa">Visa</a></li>
                        <li><a href="/apostille">Apostille</a></li>
                        <li><a href="/attestation">Attestation</a></li>
                        <li><a href="/hrd-attestation">HRD Attestation</a></li>
                        <li><a href="/embassy-attestation">Embassy Attestation</a></li>
                        <li><a href="/translation-services">Translation</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.widget footer -->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="widget-social mt40">
                    <h3 class="newsletter-title">Follow us</h3>
                    <!-- widget footer -->
                    <ul class="listnone">
                        <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
                        <li><a href="#"><i class="fa fa-whatsapp"></i>Whatsapp</a></li>
                    </ul>
                </div>
                <!-- /.widget footer -->
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="widget-footer mt40">
                    <!-- widget footer -->
                    <div class="map" id="googleMap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7004.916298716642!2d77.03655447525531!3d28.616027929697037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d05305962fc1b%3A0x1acaa4f5b56ffde4!2sMansa%20Ram%20Park%2C%20Uttam%20Nagar%2C%20Delhi!5e0!3m2!1sen!2sin!4v1600232171700!5m2!1sen!2sin"
                            width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                </div>
                <!-- /.widget footer -->
            </div>

        </div>
    </div>
</div>
<!-- /.footer -->
</div>

<div class="tiny-footer">
    <!-- tiny footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <p>© Copyright 2020 | Sublime Attestation</p>
            </div>
            <div class="col-md-6 col-sm-6 text-right col-xs-6">
                <p>Terms of use | Privacy Policy</p>
            </div>
        </div>
    </div>
</div>